.box1 {
  margin: 10%;
  width: 80%;
  padding: 2px;
  border: solid red;
  border-width: 20px;
  background-color: orange;
  text-align: center;
  font-size: 800%;
}

img {
  width:20%;
  float: right;
}

.three-columns {
  display: table;
  width: 100%;
}

.column {
  display: table-cell;
  width: 500px;
  padding: 5px;
  border: solid black;
}