.box1 {
  margin: 10%;
  width: 80%;
  padding: 2px;
  border: solid red;
  border-width: 20px;
  background-color: orange;
  text-align: center;
  font-size: 800%;
}

.box2 {
  max-width: 1000px;
}

img {
  width:200px;
  float: right;
}

.three-columns {
  display: table;
  width: 1000px;
}

.column {
  display: table-cell;
  width: 500px;
  padding: 5px;
  border: solid black;
}